/* You can add global styles to this file, and also import other style files */
// Import too many stuff will block loading
/* nunito-400normal - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../assets/fonts/nunito-latin-400.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../assets/fonts/nunito-latin-400.woff') format('woff');
  /* Modern Browsers */
}

// /* nunito-600normal - latin */
// @font-face {
//   font-family: 'Nunito';
//   font-style: normal;
//   font-display: swap;
//   font-weight: 600;
//   src: url('../assets/fonts/nunito-latin-600.woff2') format('woff2'),
//     /* Super Modern Browsers */
//     url('../assets/fonts/nunito-latin-600.woff') format('woff');
//   /* Modern Browsers */
// }

// /* nunito-700normal - latin */
// @font-face {
//   font-family: 'Nunito';
//   font-style: normal;
//   font-display: swap;
//   font-weight: 700;
//   src: url('../assets/fonts/nunito-latin-700.woff2') format('woff2'),
//     /* Super Modern Browsers */
//     url('../assets/fonts/nunito-latin-700.woff') format('woff');
//   /* Modern Browsers */
// }

// /* nunito-800normal - latin */
// @font-face {
//   font-family: 'Nunito';
//   font-style: normal;
//   font-display: swap;
//   font-weight: 800;
//   src: url('../assets/fonts/nunito-latin-800.woff2') format('woff2'),
//     /* Super Modern Browsers */
//     url('../assets/fonts/nunito-latin-800.woff') format('woff');
//   /* Modern Browsers */
// }

// /* nunito-900normal - latin */
// @font-face {
//   font-family: 'Nunito';
//   font-style: normal;
//   font-display: swap;
//   font-weight: 900;
//   src: url('../assets/fonts/nunito-latin-900.woff2') format('woff2'),
//     /* Super Modern Browsers */
//     url('../assets/fonts/nunito-latin-900.woff') format('woff');
//   /* Modern Browsers */
// }

// KHMER
@font-face {
  font-family: 'Khmer';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('/../assets/fonts/openkhmerschool-regular-webfont.woff2') format('woff2');
  unicode-range: 1780–17ff;
}

@font-face {
  font-family: 'Khmer';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/../assets/fonts/openkhmerschool-medium-webfont.woff2') format('woff2');
  unicode-range: 1780–17ff;
}

// @font-face {
//   font-family: 'Khmer';
//   font-style: normal;
//   font-display: swap;
//   font-weight: 800;
//   src: url('/../assets/fonts/openkhmerschool-semibold-webfont.woff2') format('woff2');
//   unicode-range: 1780–17ff;
// }

// @font-face {
//   font-family: 'Khmer';
//   font-style: normal;
//   font-display: swap;
//   font-weight: 900;
//   src: url('/../assets/fonts/openkhmerschool-bold-webfont.woff2') format('woff2');
//   unicode-range: 1780–17ff;
// }

* {
  font-family: 'Nunito', 'Khmer', sans-serif;
  line-height: 1.4;
  box-sizing: border-box;
}