:root {
  // variables
  --box-shadow-medium: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
  --box-shadow-high: 0 7px 23px 0 rgba(31, 40, 66, 0.17);
}



// Breakpoints
$breakpoint-xxs: 350px !default; // till 599
$breakpoint-xs: 400px !default; // till 599
$breakpoint-sm: 600px !default; // till 959
$breakpoint-md: 960px !default; // till 1335
$breakpoint-lg: 1336px !default; // till 1919
$breakpoint-xl: 1920px !default; // till 3999
$breakpoint-xxl: 4000px !default;

// Mixins
@mixin breakpoint($bp) {
  @if $bp=='xxs' {
    @media only screen and (max-width: $breakpoint-xs - 1) {
      @content;
    }
  }

  @else if $bp=='xs' {
    @media only screen and (min-width: $breakpoint-xxs) and (max-width: $breakpoint-xs - 1) {
      @content;
    }
  }

  @else if $bp=='sm' {
    @media only screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1) {
      @content;
    }
  }

  @else if $bp=='md' {
    @media only screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1) {
      @content;
    }
  }

  @else if $bp=='lg' {
    @media only screen and (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl - 1) {
      @content;
    }
  }

  @else if $bp=='xl' {
    @media only screen and (min-width: $breakpoint-xl) and (max-width: $breakpoint-xxl) {
      @content;
    }
  }

  @else if $bp=='lt-xxs' {
    @media only screen and (max-width: $breakpoint-xxs - 1) {
      @content;
    }
  }

  @else if $bp=='lt-xs' {
    @media only screen and (max-width: $breakpoint-xs - 1) {
      @content;
    }
  }

  @else if $bp=='lt-sm' {
    @media only screen and (max-width: $breakpoint-sm - 1) {
      @content;
    }
  }

  @else if $bp=='lt-md' {
    @media only screen and (max-width: $breakpoint-md - 1) {
      @content;
    }
  }

  @else if $bp=='lt-lg' {
    @media only screen and (max-width: $breakpoint-lg - 1) {
      @content;
    }
  }

  @else if $bp=='lt-xl' {
    @media only screen and (max-width: $breakpoint-xl - 1) {
      @content;
    }
  }

  @else if $bp=='gt-xxs' {
    @media only screen and (min-width: $breakpoint-xs) {
      @content;
    }
  }

  @else if $bp=='gt-xs' {
    @media only screen and (min-width: $breakpoint-sm) {
      @content;
    }
  }

  @else if $bp=='gt-sm' {
    @media only screen and (min-width: $breakpoint-md) {
      @content;
    }
  }

  @else if $bp=='gt-md' {
    @media only screen and (min-width: $breakpoint-lg) {
      @content;
    }
  }

  @else if $bp=='gt-lg' {
    @media only screen and (min-width: $breakpoint-xl) {
      @content;
    }
  }
}

@mixin icon($size: 31px, $radius: 50%) {
  height: $size;
  border-radius: $radius;
  @include fixed-width($size);
}

@mixin font-size-weight($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin fixed-width($width: 0px) {
  min-width: $width;
  max-width: $width;
}

@mixin height-width($size) {
  height: $size;
  width: $size;
}