@import './fonts';
@import './mixins';

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #FAFAFA;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.app-limiter {
  margin: 0px auto;
}

a {
  padding: 20px;
  color: currentColor;
  text-decoration: inherit;

  &:visited {
    color: currentColor;
  }
}

h1 {
  font-size: 40px;
  margin: 5px 0;
}

h2,
h3,
h4 {
  margin: 3px 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex: 1
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-items: center;
}

.input-container {
  position: relative;
  flex: 1;
  margin-bottom: 30px;

  &:not(:last-child) {
    margin-right: 20px;
  }

  label {
    position: absolute;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: all 200ms;
  }

  input {
    border: none;
    border-radius: 5px;
    padding: 15px 12px 8px;
    height: 50px;
    width: 100%;

    &:focus {
      border: 2px solid #45A8DD;
      outline: none;
    }

    // &:not(:valid) {
    //   border: 2px solid coral;

    //   &+label {
    //     color: coral !important;
    //   }
    // }

    &:focus+label,
    &:not(:placeholder-shown)+label {
      color: cornflowerblue;
      top: 5px;
      transform: translateY(0%);
      font-size: 0.8em;
    }
  }
}

input[type=submit] {
  height: 60px;
  cursor: pointer;
  transition: 200ms;
  border-radius: 30px;
  background: darkblue;
  color: white;
  border: none;
  font-size: 1.2em;

  &:active {
    outline: none;
    transform: scale(1.1);
  }
}

@include breakpoint('gt-md') {
  .app-limiter {
    @include fixed-width($breakpoint-lg);
  }
}

@include breakpoint('md') {
  .app-limiter {
    @include fixed-width($breakpoint-md);
  }
}

@include breakpoint('lt-md') {
  .app-limiter {
    max-width: $breakpoint-sm;
  }

  h1 {
    font-size: 30px;
    margin: 2px 0;
  }

  input[type=submit] {
    height: 50px;
    font-size: 1em;
  }
}