@import '../../style/mixins';

.home {
  width: 100%;

  &>section {
    padding: 60px 0;
  }
}

.welcome {
  height: 600px;
  background-image: url('/assets/backgrounds/banner.svg'), linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  background-color: #45a8dd;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  color: white;

  span {
    @include font-size-weight(1.35em, 700);
  }

  h1 {
    text-align: center;
    margin-top: 70px;
  }
}

.why {
  background: #f0f0f0;

  .flex-col {
    margin: 0 auto;
    @include fixed-width(30%);
  }

  .icoTxt {
    padding: 40px 0px;
    text-align: center;
    align-items: center;

    h2 {
      text-transform: uppercase;
    }

    img {
      @include icon(130px, 0);
      margin-bottom: 20px;
    }
  }
}

.how {
  .rowTimelineItem {
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 30px 0;
  }

  .timelineItem {
    padding: 15px;
    text-align: center;
    align-items: center;
    height: 250px;
    @include fixed-width(20%);
    border-radius: 13px;
    background: #DFE7FF;

    img {
      @include icon(70px, 0);
      margin-bottom: 10px;
    }
  }

  .boxConnectionV {
    display: none;
    @include fixed-width(80%);
    margin: auto;
  }

  img {
    @include fixed-width(6.66%);
  }

  .arrowLd {
    transform: translateY(50%);
  }
}

.ourServices {
  background: #f7f7f7;

  .flex-col {
    @include fixed-width(30%);
    margin: 15px;
    box-shadow: var(--box-shadow-medium);
    border-radius: 10px;
    overflow: hidden;
  }

  h2 {
    text-align: center;
    margin: 20px;
  }

  p {
    padding: 0 25px;
    text-align: justify;
  }

  img {
    width: 100%;
  }
}

.contact {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  padding-bottom: 150px !important;

  h1,
  h2 {
    color: white;
    margin: 0 auto 20px 10px;
  }

  form {
    max-width: 800px;

    input[type=submit] {
      width: 200px;
      background: #067cbb;
    }
  }
}

.flipX {
  transform: scaleX(-1);
}

.flex-row {
  justify-content: space-between;
}

@include breakpoint('lt-lg') {

  .why .flex-col,
  .ourServices .flex-col {
    @include fixed-width(45%);
  }
}

@include breakpoint('lt-md') {
  .home>section {
    padding: 40px 0;
  }

  .welcome {
    height: 450px;

    h1 {
      margin-top: 50px;
    }
  }

  .why .icoTxt {
    padding: 25px 10px;
  }

  .how {
    .rowTimelineItem {
      flex-wrap: wrap;
    }

    .timelineItem {
      @include fixed-width(40%);
    }

    img {
      @include fixed-width(20%);
    }

    .boxConnectionH {
      display: none;
    }

    .boxConnectionV {
      display: block;
    }
  }

  .contact>div {
    max-width: 95%;
    padding: 0 2.5%;
  }
}

@include breakpoint('lt-sm') {
  .welcome {
    height: 400px;
  }

  .why .flex-col,
  .ourServices .flex-col {
    @include fixed-width(90%);
  }

  .how {
    .timelineItem {
      height: 290px;
    }
  }
}

@include breakpoint('lt-sm') {
  .how {
    .timelineItem {
      height: 320px;
      @include fixed-width(47%);
    }

    img {
      @include fixed-width(6%);
    }
  }
}