<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Speed Devs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="title" content="Innovative Tech Solutions to Improve your Business" />
    <meta name="description" content="Speed Devs, Software Company" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://speeddevs.com/" />
    <meta property="og:title" content="Innovative Tech Solutions to Improve your Business" />
    <meta property="og:description" content="Speed Devs, Software Company" />
    <meta property="og:image" content="/assets/backgrounds/banner.png" />

    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png" />
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>
