@import '../../style/mixins';

header {
  width: 100%;
  padding: 15px;
  background: transparent;
  color: white;
  position: fixed;
  transition: all 500ms;

  &.nonActive {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    box-shadow: var(--box-shadow-medium);
    padding: 10px 15px;
  }

  &>div {
    flex-wrap: nowrap;
  }

  .contacts {
    margin-left: auto;
    width: 620px;

    span {
      font-size: 20px;
    }
  }
}

.logo {
  @include height-width(50px);
  margin-right: 20px;
}

span {
  @include font-size-weight(30px, 700);
  margin-right: 50px;
}

span img {
  @include icon(25px, 0);
  margin-right: 10px;
}

@include breakpoint('lt-md') {
  header .contacts {
    width: 300px;
  }
}

@include breakpoint('lt-sm') {
  header {
    .logo {
      @include height-width(40px);
      margin-right: 10px;
    }

    span {
      font-size: 25px;
      margin-right: 0px !important;

      img {
        display: none;
      }
    }

    .contacts {
      width: 100%;
      justify-content: space-between;
      flex-wrap: nowrap;
      margin-top: 5px;

      span {
        font-size: 15px;
      }
    }
  }
}

@include breakpoint('lt-xs') {
  header .contacts {
    justify-content: center;

    span:first-of-type {
      display: none;
    }
  }
}